.resposta-label {
    margin: 0px;
    background: rgb(28,28,63);
    color: #ffffff;
    text-align: center;
}

.resposta-p1 {
    background: rgb(28,28,63);
    color: #ffffff;
    text-align: left;
    display: inline-block;
    max-width: 360px;
    position: static;
    font-size: 16px
}